<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Form::custom checkbox JS-UI</title>
    <link href="../../css/font-awesome.min.css" rel="stylesheet" />
    <link href="../../css/js-ui.css" rel="stylesheet" />
    <link href="../../css/theme/default.css" rel="stylesheet" id="style" />

</head>
<body>
    <section class="container">
    
        <div class="row">
            <div class="col-sm-12">
                <br />
                <form  class="form-horizontal row">  
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                       <span class="ui-checkbox">                                                                           
                                            <input id="ui-checkbox" type="checkbox" checked="checked">                                            
                                       </span>
                                       <label for="ui-checkbox"> UI-Checkbox </label>
                                    </div>
                                </div>    
                                <div class="form-group">
                                    <div class="col-md-4">
                                       <span class="ui-checkbox text-primary" style=" font-size: 22px;">                                                                           
                                            <input id="ui-checkbox-custom"  type="checkbox" checked="checked">                                            
                                       </span>
                                       <label for="ui-checkbox-custom"> UI-Checkbox custom </label>
                                    </div>
                                </div> 
                                <div class="form-group">
                                    <div class="col-md-4">
                                       <span class="ui-checkbox-o">                                                                           
                                            <input id="ui-checkbox-o" type="checkbox" checked="checked">                                            
                                       </span>
                                       <label for="ui-checkbox-o"> UI-Checkbox-o </label>
                                    </div>
                                </div>    
                                <div class="form-group">
                                    <div class="col-md-4">
                                       <span class="ui-checkbox-o text-success" style=" font-size: 24px;">                                                                           
                                            <input id="ui-checkbox-o-custom"  type="checkbox" checked="checked">                                            
                                       </span>
                                       <label for="ui-checkbox-o-custom"> UI-Checkbox custom </label>
                                    </div>
                                </div> 

                            </div>
                            <div class="col-sm-6">
                                        
                            </div>    
                </form>
            </div>
        </div>
    </section>

    <script src="../../js/js-ui.js"></script>   
    <script>

    </script>
</body>
</html>