<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>Form::custom checkbox JS-UI</title>
<link href="../../css/font-awesome.min.css" rel="stylesheet" />
<link href="../../css/js-ui.css" rel="stylesheet" />
<link href="../../css/theme/default.css" rel="stylesheet" id="style" />
</head>
<body>
	<section class="container">
		<div class="row">
			<div class="col-sm-12">
				<br />
				<form class="form-horizontal ">
					<section class="row">
						<div class="form-group col-sm-4">
							<span class="ui-checkbox ui-checkbox-f">
								  <input id="ui-checkbox-f" type="checkbox" checked onclick="showResult(this,'ui-checkbox-f-result')">
								    <label for="ui-checkbox-f">						       
								       ui-checkbox-f
								    </label>
								    <span id="ui-checkbox-f-result"></span>
							</span>
						</div>
						<div class="form-group col-sm-4">
							<span class="ui-checkbox ui-checkbox-o">
								  <input id="ui-checkbox-o" type="checkbox" checked onclick="showResult(this,'ui-checkbox-o-result')">
								    <label for="ui-checkbox-o">						       
								       ui-checkbox-o
								    </label>
								    <span id="ui-checkbox-o-result"></span>
							</span>
						</div>

					</section>



				</form>
			</div>
		</div>
	</section>
	<script src="../../js/js-ui.js"></script>
	<script>
		function showResult(input, strId) {
			if (input.checked) {
				document.getElementById(strId).textContent = 'on';
			} else {
				document.getElementById(strId).textContent = 'off';
			}
		}
	</script>
</body>
</html>