<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Form::isValid():Boolean JS-UI</title>
    <link href="../../css/font-awesome.min.css" rel="stylesheet" />
    <link href="../../css/js-ui.css" rel="stylesheet" />
    <link href="../../css/theme/default.css" rel="stylesheet" id="style" />

</head>
<body>
    <section class="container">
        <div class="row">
            <br>
            <div class="col-sm-12" id="notify"></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <br />
                <form id="form" class="form-horizontal row">  
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="text" name="email" class="form-control" data-required="true"
                                               data-email="true" placeholder="E-mail">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="text" name="birthday" class="form-control"
                                               data-date="d-m-Y" placeholder="Birthday (dd-mm-yyyy)">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="text" name="first-name" class="form-control"
                                               data-fullname="true" placeholder="First Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="text" name="last-name" class="form-control"
                                               data-fullname="true" placeholder="Last Name">
                                    </div>
                                </div>  
                            </div>

                        <div class="row">
                            <button class="btn btn-success col-sm-3 pull-right">Submit</button>
                        </div>
                </form>
            </div>
        </div>
    </section>

    <script src="../../js/js-ui.js"></script>   
    <script>
    var notify = new UI.Notify(document.getElementById('notify'));
    var form = new UI.Form(document.getElementById('form'));
    form.onsubmit(function() {
        if (form.hasChanged()) {
            if (form.isValid()) {
                notify.success("submit data");
            } else {
                notify.close();
            }
        } else {
            notify.warning('No changes to save');
        }
    });
    </script>
</body>
</html>