<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <meta charset="UTF-8">
      <title>FormOk::isValid():Boolean JS-UI</title>
      <link href="../css/font-awesome.min.css" rel="stylesheet" />
      <link href="../css/js-ui.css" rel="stylesheet" />
      <link id="style" href="../css/theme/default.css" rel="stylesheet" />
      <style type="text/css">

         .ui-calendar{
            padding-top: 5px;
         }
         .ui-calendar table tbody td {
              border: medium none;
              cursor: default;
          }
         .ui-calendar table tbody td:hover {
               opacity: 0.6;
          }
          .ui-calendar table thead th,.ui-calendar table tbody td {
            text-align: center;
          }
         .ui-calendar table tbody td.bg-primary {
            font-weight: bold;
          }

      </style>
   </head>
   <body>
      <br>
      <section class="container">
        <div class="row">
          <div class="col-sm-12 col-md-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="row">
                         <div class="col-sm-6">
                            <a href="#">October, 2014</a>
                         </div>
                         <div class="col-sm-6">
                            <div class="btn-group btn-group-justified">
                              <div class="btn-group">
                                <button type="button" class="btn btn-default"><i class="fa fa-chevron-circle-left"></i></button>
                              </div>
                              <div class="btn-group">
                                <button type="button" class="btn btn-default"><i class="fa fa-circle"></i></button>
                              </div>
                              <div class="btn-group">
                                <button type="button" class="btn btn-default"><i class="fa fa-chevron-circle-right"></i></button>
                              </div>
                            </div>
                         </div>
                    </div>

                    <div class="row ui-calendar">
                         <div class="col-sm-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                   <div class="table-responsive">
                                    <table class="table table-condensed">
                                       <thead>
                                         <tr>
                                          <th>Su</th>
                                          <th>Mo</th>
                                          <th>Tu</th>
                                          <th>We</th>
                                          <th>Th</th>
                                          <th>Fr</th>
                                          <th>Sa</th>
                                         </tr>
                                       </thead>
                                       <tbody>
                                         <tr>
                                           <td class="text-muted">28</td>
                                           <td class="text-muted">29</td>
                                           <td class="text-muted">30</td>
                                           <td>1</td>
                                           <td>2</td>
                                           <td>3</td>
                                           <td>4</td>
                                         </tr>
                                         <tr>
                                           <td >5</td>
                                           <td >6</td>
                                           <td >7</td>
                                           <td>8</td>
                                           <td>9</td>
                                           <td>10</td>
                                           <td>11</td>
                                         </tr>
                                         <tr>
                                           <td >12</td>
                                           <td >13</td>
                                           <td >14</td>
                                           <td>15</td>
                                           <td>16</td>
                                           <td>17</td>
                                           <td>18</td>
                                         </tr>
                                         <tr>
                                           <td >19</td>
                                           <td class="bg-primary" >20</td>
                                           <td >21</td>
                                           <td>22</td>
                                           <td>23</td>
                                           <td>24</td>
                                           <td>25</td>
                                         </tr>
                                         <tr>
                                           <td >26</td>
                                           <td >27</td>
                                           <td >28</td>
                                           <td>29</td>
                                           <td>30</td>
                                           <td>31</td>
                                           <td class="text-muted">1</td>
                                         </tr>
                                         <tr>
                                           <td class="text-muted">2</td>
                                           <td class="text-muted">3</td>
                                           <td class="text-muted">4</td>
                                           <td class="text-muted">5</td>
                                           <td class="text-muted">6</td>
                                           <td class="text-muted">7</td>
                                           <td class="text-muted">8</td>
                                         </tr>
                                       </tbody>
                                    </table>
                                   </div>
                                </div>
                              </div>
                         </div>
                    </div>
                  </div>
                </div>
          </div>
         </div>
      </section>

      <script src="../js/js-ui.js"></script>
      <script>



          



      </script>
   </body>
</html>