<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <meta charset="UTF-8">
      <title>Dropdownlist::setDisabled(boolean) JS-UI</title>
      <link href="../css/font-awesome.min.css" rel="stylesheet" />
      <link href="../css/js-ui.css" rel="stylesheet" />
      <link id="style" href="../css/theme/default.css" rel="stylesheet" />
   </head>
   <body>
      <section class="container">
         <div class="row">
             <br/>
            <!--Here to show the dropdownlist-->
            <div class="col-sm-4" id="dropdownlist"></div>
            <div class="col-sm-2">
               <button id="btn-disabled" class="btn btn-default">Disabled</button>    
            </div>            
            <div class="col-sm-2">
               <button id="btn-enabled" class="btn btn-primary">Enabled</button>    
            </div>    
         </div>
      </section>
      <script src="../js/js-ui.js"></script>
      <script>
         var products = new UI.DropDownList(document.getElementById('dropdownlist'), [
            { option: 1, value: 'Product A' },
            { option: 2, value: 'Product B',selected:true },
            { option: 3, value: 'Product C' }
         ]);      
         
         document.getElementById('btn-disabled').onclick = function(){
             products.setDisabled(true);
         };

         document.getElementById('btn-enabled').onclick = function(){
             products.setDisabled(false);
         };
         
      </script>
   </body>
</html>