<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dropdownlist JS-UI</title>
    <link href="../css/font-awesome.min.css" rel="stylesheet" />
    <link href="../css/js-ui.css" rel="stylesheet" />
    <link id="style" href="../css/theme/default.css" rel="stylesheet" />
    <link href="component.css" rel="stylesheet" />
</head>
<body>
    <section class="container component">
        <div class="row">           
            <div class="col-md-3" id="dropdownlist"></div>            
        </div>
    </section>


    <script src="../js/js-ui.js"></script>
    <script>
        /*
         * ========================================================================
         * UI-DROPDOWNLIST
         * Author  : Yonatan Alexis Quintero Rodriguez
         * Date    : 10 Oct 2014
         * ========================================================================
         */

        /*
        * Create Object UI-DropDownList
        * @param HtmlElement
        * @param Items []
        */
        var UIDropDownList = new UI.DropDownList(document.getElementById('dropdownlist'), [
           { option: 1, value: 'Product A' },
           { option: 2, value: 'Product B' },
           { option: 3, value: 'Product C' },
           { option: 4, value: 'Product D' },
           { option: 5, value: 'Product E' },
           { option: 6, value: 'Product F' }
        ]);
        /**
        * Initialize the UI-DropDownList
        * @param option
        */
        UIDropDownList.init(5);
        
    </script>
</body>
</html>