<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Notify Close JS-UI</title>
    <link href="../css/font-awesome.min.css" rel="stylesheet" />
    <link href="../css/js-ui.css" rel="stylesheet" />
    <link id="style" href="../css/theme/default.css" rel="stylesheet" />
   
</head>
<body>
    <section class="container">
        <div class="row">
             <br/>                       
            <div class="col-md-12" id="notify"></div>
            <button  class="btn btn-success" id="btnSuccess" >Show Notification</button>
            <button  class="btn btn-default" id="btnClose" >Close Notification</button>
        </div>
    </section>
    <script src="../js/js-ui.js"></script>
    <script>
        var notify = new UI.Notify(document.getElementById('notify'));
        notify.success('Success Notify');
        document.getElementById('btnSuccess').onclick = function () {          
            notify.success('Success Notify');
        }   
        document.getElementById('btnClose').onclick = function () {          
            notify.close();
        }        
    </script>
</body>
</html>