<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>FormOk::isFullName(String):Boolean JS-UI</title>
    <link href="../../css/font-awesome.min.css" rel="stylesheet" />
    <link href="../../css/js-ui.css" rel="stylesheet" />
    <link href="../../css/theme/default.css" rel="stylesheet" id="style" />

</head>
<body>
    <section class="container">
        <div class="row">
            <br>
            <div class="col-sm-12" id="notify"></div>
        </div>   
    </section>

    <script src="../../js/js-ui.js"></script>   
    <script>
        var notify = new UI.Notify(document.getElementById('notify'));
        var name = 'Jhon Doe'
        var form = new UI.FormOk();        
        if (form.isFullName(name)) {
           notify.success('Name correct!');
        }else{
            notify.danger('Name incorrect!');   
        }
    </script>
</body>
</html>